.tinntinn{
    /* background-color: rgb(255, 0, 0); */
    max-width: 80vw;
    min-width: 40vw;
    text-align: center;
    Margin : 0 auto;
}
.chinchin{
    padding-top: 90px; 
}


/* zaseki3.phpの部分 */
.col-md-6 {
    text-align: center;
    margin: auto;
}

h2{
    text-align: center;
}

.Y {
    margin: 0 auto; /* 水平方向に中央揃え */
    text-align: center; /* 内部の要素を中央揃え */
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 10px; */
}

.Y p {
    font-size: 24px;
}

.button2 {
    text-align: center;
    margin: auto;
    /* padding: 10px; */
}



/* reservation.phpのcssの部分 */
.V {
    margin: 0 auto; /* 水平方向に中央揃え */
    text-align: center; /* 内部の要素を中央揃え */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.V p {
    font-size: 32px;
}


.button {
    text-align: center;
    margin: auto;
    padding: 20px;
}
